[build]
  publish = "dist"
  command = "npm run build"
  functions = "netlify/functions"

[dev]
  framework = "astro"
  targetPort = 4321
  functionsPort = 9999

[functions]
  node_bundler = "esbuild"
